  .content { 
    max-width: 800px;
    background: white;
    padding: 30px;
    margin-left: 25%;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }

  .content:hover {
    transform: translateY(-5px);
  }

  .content ul {
    padding-left: 20px;
    list-style-type:none;
    margin: 0;
    font-size: 1.1rem;
    color: #555;
  }

  .content ul li {
    margin-bottom: 10px;
    line-height: 1.8; 
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    body {
      padding: 10px; 
    }
  
    .content {
      padding: 20px;
      margin: 10px;
      width: 100%;
    }
  }
  