.header {
  background: linear-gradient(135deg, #28a745, #07f0f0);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  padding: 20px 16px;
  z-index: 99;
  text-align: right;
}

.header .logo {
  margin-top: 20px;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.header .logo img {
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.header .logo img:hover {
  transform: rotate(25deg);
}

.header .logo span {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3px;
}

.nav-links .nav-btn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 25px;
  border-radius: 16px;
  background-color: #4caf50;
  margin-right: 10px;
}

.nav-links .nav-btn:hover {
  cursor: pointer;
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);

}

