.wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.icon {
margin-right: 30px;
}

.icon:hover > i {
    scale: 3;
    color: #039273;
}