<div class="login-container">
  <h2>Login</h2>

  <form #form="ngForm" (ngSubmit)="login(form)">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        name="email"
        id="email"
        type="email"
        class="form-control"
        ngModel
        #inputEmail="ngModel"
        required
        [appEmail]="domains"
      />
      @if(inputEmail?.touched){
      <div class="error-message">
        @if(inputEmail?.errors?.['required']) {
          <div>Email is required</div>
        }
        @if (inputEmail?.errors?.['emailValidator']) {
          <div>Invalid email format</div>
        }
      </div>
      }
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        name="password"
        id="password"
        type="password"
        class="form-control"
        ngModel
        #inputPassword="ngModel"
        required
        minlength="6"
      />
      @if(inputPassword?.touched){
        <div class="error-message">
           @if(inputPassword?.errors?.['required']) {
          <div >Password is required</div>
        }
          @if (inputPassword?.errors?.['minlength']) {
          <div >
            Password must be at least 6 characters
          </div>
        }
        </div>
      }

    </div>

    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Login</button>
  </form>

  <p class="register-link">
    Don't have an account? <a routerLink="/register">Register here</a>
  </p>
</div>
