<div class="post-container">
  <h2>{{ post.creator }}</h2>
  <img [src]="post.photo" alt="Post Image" class="post-image" />
  <p><strong>Address</strong></p>
  <p>{{ post.address || null}}</p>
  <p><strong>Latitude</strong></p>
  <p>{{ post.latitude }}</p>
  <p><strong>Longitude</strong></p>
  <p>{{ post.longitude }}</p>
  <p><strong>Created By</strong></p>
  <p>{{ post.creator }}</p>
  <p><strong>Created At</strong></p>
  <p>{{ post.created }}</p>
  <p><strong>Size</strong></p>
  <p>{{ post.size }}</p>
  <p><strong>People Needed</strong></p>
  <p>{{ post.people }}</p>
  <p><strong>Tools Needed</strong></p>
  <p>{{ post.tools }}</p>
</div>
