body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post-container {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  margin: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.post-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
}

h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

p {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

p strong {
  color: #333;
}

.btn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 25px;
  border-radius: 16px;
  background-color: #4caf50;
  margin-right: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);

}


.form-container {
  align-items:center;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

h2 {
  text-align: center;
  color: #28a745;
}

label {
  display: block;
  margin-top: 10px;
  color: #333;
}

.error-message {
  color: red;
  font-size: 0.875rem;
}

input, textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .post-container {
    padding: 15px;
    margin: 10px;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }
}
